<div id="<%= dom_id note %>">
  <p>
    <strong>Note title:</strong>
    <%= note.note_title %>
  </p>

  <p>
    <strong>Note author:</strong>
    <%= note.note_author %>
  </p>

  <p>
    <strong>Note contents:</strong>
    <%= note.note_contents %>
  </p>

</div>

